
*{
	margin: 0px;
	padding:0px;
}
button {
	background-color: #ad3b29;
	border: 2px solid #530202;
	color: whitesmoke;
	/* padding: 1em 1.5em; */
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	/* width: 15%; */
	/* border-radius: 5px; */
	box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
    cursor: pointer;
}

input {
    /* width: 20%; */
    padding:10px;
    border-radius:10px;
}
.inbox{
	margin:20px
}